#button_principale{
    -fx-background-color: transparent;
    -fx-border-color: #004ba8;
    -fx-border-width: 2;
    -fx-text-fill: white;
}
#button_principale:hover,#button_principale:focus-visible{
	-fx-background-color: #004ba8;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-text-fill: white;
}
#button_admin,.button_alertInformation {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-text-fill: black;
}	
#button_admin:hover,#button_admin:focus-visible,.button_alertInformation:hover,.button_alertInformation:focus-visible{
    -fx-background-color: black;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-text-fill: white;
}

#button_admin_logout, .button_alertError,.button_alertConfirmNO{
	-fx-background-color: transparent;
    -fx-border-color: #d02727;
    -fx-border-width: 2;
    -fx-text-fill: #d02727;
}
#button_admin_logout:hover,#button_admin_logout:focus-visible,.button_alertError:hover, .button_alertError:focus-visible,.button_alertConfirmNO:hover,.button_alertConfirmNO:focus-visible{
	-fx-background-color: #d02727;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-text-fill: white;
}
.button_alertConfirmYES{
	-fx-background-color: transparent;
    -fx-border-color: #00A86B;
    -fx-border-width: 2;
    -fx-text-fill: #00A86B;
}
.button_alertConfirmYES:hover,.button_alertConfirmYES:focus-visible{
    -fx-background-color: #00A86B;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-text-fill: white;
}
#button_player{
	-fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-text-fill: black;
}
#button_player:hover,#button_player:focus-visible{
	-fx-background-color: white;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-text-fill: black;
}
#button_giocaCarta{
	-fx-background-color: transparent;
    -fx-border-color: #0080ff;
    -fx-border-width: 2;
    -fx-text-fill: #0080ff;
}
#button_giocaCarta:hover,#button_giocaCarta:focus-visible{
	-fx-background-color: #0080ff;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-text-fill: white;
}
#button_passaTurno{
	-fx-background-color: transparent;
    -fx-border-color: #ffb700;
    -fx-border-width: 2;
    -fx-text-fill: #ffb700;
}
#button_passaTurno:hover,#button_passaTurno:focus-visible{
	-fx-background-color: #ffb700;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-text-fill: white;
}
#button_rigore{
	-fx-background-color: transparent;
	-fx-border-color: white;
    -fx-border-width: 2;
    -fx-text-fill: black;
}
#button_rigore:hover,#button_rigore:focus-visible{
	-fx-background-color: #d7d7d7;
	-fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-text-fill: black;
}
.comboBox{
	-fx-background-color: white;
	-fx-border-color: grey;
    -fx-border-width: 1;
    -fx-text-fill: black;
    -fx-font-size: 18;
}
.table-view {
    -fx-background-image: url('C:/Users/User/Pictures/progetto/leaderboard.jpg');
    -fx-background-size: cover; /* o usa 'contain' a seconda delle tue esigenze */
    -fx-background-repeat: no-repeat;
}
